body{
    margin-right: .5em;
    margin-left: .5em;
    box-sizing:border-box; 
}

footer{
  background-color: #000;
}

nav{
  margin-bottom: 1em;
}


h1, h2, h3, p, button{
	font-family: kanit;
}

h1{
  color: white;
  font-size: 50px;
  text-align: center;
}

h2{
    display: inline-block;
    padding: 3px 4px;
    border-radius: 1px;
    background: #fff;
    color: #000;
    font-size: .75rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: .4em;
}

h3{
  color: white;
  font-size: 20px;
  margin: .4em;
  font-size: 400;
}

h4{
  color: white;
  font-size: 20px;
  margin: .4em;
  font-size: 400;
}

p{
  color: white;
  font-size: 15px;
  margin: .4em;
}


#menu-tickets-button{
background-color: #d55140; 
  border: none;
  color: white;
  padding: 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
}

#eerste-bg-img{
  background-image: url("../images/neushoorn-kever.jpeg");
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#tweede-bg-img{
  background-image: url("../images/meid.jpg");
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#derde-bg-img{
  background-image: url("../images/mensen-tafel.jpeg");
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#vierde-bg-img{
  background-image: url("../images/nachtwacht.jpeg");
  display: flex;
  flex-direction: column;
  min-height: 50vh;
}
